{{ define "docs.html" }}
<div id="docs-list">
    {{ range . }}
    <div id="doc-{{ .ID.Hex }}" class="doc">
        <span class="font-medium">{{ .Name }}</span>
        <button
                class="btn btn-danger"
                hx-delete="/docs?id={{ .ID.Hex }}"
                hx-target="#doc-{{ .ID.Hex }}"
                hx-swap="outerHTML">
            Eliminar
        </button>
    </div>
    {{ else }}
    <p class="italic text-gray">No hay documentos.</p>
    {{ end }}
</div>
{{ end }}
