{{ define "content" }}
<div class="docs-col">
    <form
            hx-post="/docs"
            hx-target="#docs-list"
            hx-swap="beforeend">
        <label>
            Nombre:
            <input type="text" name="name" required>
        </label>
        <button type="submit" class="btn btn-primary">Añadir</button>
    </form>

    <div id="docs-list" hx-get="/docs" hx-trigger="load"></div>
</div>

<div class="shard-col">
  <div class="shard-panel">
    <div
      id="shard-info"
      hx-get="/shards"
      hx-trigger="load"
      hx-swap="innerHTML">
    </div>
    <button
            class="btn btn-primary"
            hx-get="/shards"
            hx-target="#shard-info"
            hx-swap="innerHTML">
        Recargar shards
    </button>
  </div>

{{ end }}
